<div id="loading-block">
    <input type="text" id="load-url" value="https://raw.githubusercontent.com/smelukov/citiesTest/master/cities.json">
    <div id="load-message"></div>
    <button id="load">Загрузка</button>
</div>
<div id="filter-block">
  <input type="text" placeholder="название города" id="filter-input">

  <div id="filter-result"></div>
</div>
